In [5]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus

password = quote_plus('DM!$!Team!92@05!156&')
connection_string = f"mysql+pymysql://dm_team10:{password}@18.136.157.135/project_movie_database"

# Create a database engine
engine = create_engine(connection_string)

# to check tables
query_check = "SHOW TABLES"
tables_data = pd.read_sql(query_check, engine)
print(tables_data)

  Tables_in_project_movie_database
0                        directors
1                           movies

In [7]:
# to Describe the movies table
query_describe_movies = "DESCRIBE movies"
movies_columns = pd.read_sql(query_describe_movies, engine)
print(movies_columns)

# to Describe the directors table
query_describe_directors = "DESCRIBE directors"
directors_columns = pd.read_sql(query_describe_directors, engine)
print(directors_columns)

             Field          Type Null  Key Default           Extra
0               id       int(11)   NO  PRI    None  auto_increment
1   original_title  varchar(200)  YES         None
2           budget       int(30)  YES         None
3       popularity       int(11)  YES         None
4     release_date          text  YES         None
5          revenue    bigint(20)  YES         None
6            title          text  YES         None
7     vote_average        double  YES         None
8       vote_count       int(11)  YES         None
9         overview          text  YES         None
10         tagline          text  YES         None
11             uid       int(11)  YES         None
12     director_id       int(11)   NO            0
        Field     Type Null  Key Default           Extra
0        name     text  YES         None
1          id  int(11)   NO  PRI    None  auto_increment
2      gender  int(11)  YES         None
3         uid  int(11)  YES         None
4  department     text  YES         None

In [5]:
# HERE IS CODE FOR CHECKING NULL VALUES 
def check_null_values():
    tables_query = "SHOW TABLES"
    tables = execute_query(tables_query)
    for table in tables.iloc[:, 0]: 
        print(f"Checking for null values in table: {table}")
        query = f"SELECT * FROM {table}"
        try:
            df = execute_query(query)
            null_values = df.isnull().sum()
            if null_values.sum() > 0:  
                print(f"Null values in {table}:")
                print(null_values[null_values > 0])  
                print(f"No null values found in {table}")
        except Exception as e:
            print(f"Error checking null values in table {table}: {e}")
check_null_values()

Checking for null values in table: directors
Checking for null values in table: movies
Null values in movies:
tagline    1
dtype: int64
No null values found in movies

In [9]:
# 1) Can you get all data about movies?

query_movies = "SELECT * FROM movies"
movies_data = pd.read_sql(query_movies, engine)
print(movies_data.head())  # Show first 5 rows to check the data

      id                            original_title     budget  popularity  \
0  43597                                    Avatar  237000000         150
1  43598  Pirates of the Caribbean: At World"s End  300000000         139
2  43599                                   Spectre  245000000         107
3  43600                     The Dark Knight Rises  250000000         112
4  43601                               John Carter  260000000          43

  release_date     revenue                                     title  \
0   2009-12-10  2787965087                                    Avatar
1   2007-05-19   961000000  Pirates of the Caribbean: At World"s End
2   2015-10-26   880674609                                   Spectre
3   2012-07-16  1084939099                     The Dark Knight Rises
4   2012-03-07   284139100                               John Carter

   vote_average  vote_count  \
0           7.2       11800
1           6.9        4500
2           6.3        4466
3           7.6        9106
4           6.1        2124

                                            overview  \
0  In the 22nd century, a paraplegic Marine is di...
1  Captain Barbossa, long believed to be dead, ha...
2  A cryptic message from Bonds past sends him on...
3  Following the death of District Attorney Harve...
4  John Carter is a war-weary, former military ca...

                                          tagline     uid  director_id
0                     Enter the World of Pandora.   19995         4762
1  At the end of the world, the adventure begins.     285         4763
2                           A Plan No One Escapes  206647         4764
3                                 The Legend Ends   49026         4765
4            Lost in our world, found in another.   49529         4766

In [11]:
# 2) How do you get all data about directors?
 
query_directors = "SELECT * FROM directors"
directors_data = pd.read_sql(query_directors, engine)
print(directors_data.head())

                name    id  gender   uid department
0      James Cameron  4762       2  2710  Directing
1     Gore Verbinski  4763       2  1704  Directing
2         Sam Mendes  4764       2    39  Directing
3  Christopher Nolan  4765       2   525  Directing
4     Andrew Stanton  4766       2     7  Directing

In [13]:
# 3) Check how many movies are present in IMDB.

query_count_movies = "SELECT COUNT(*) FROM movies"
count_movies = pd.read_sql(query_count_movies, engine)
print(count_movies)

   COUNT(*)
0        47

In [15]:
# 4) Find these 3 directors: James Cameron ; Luc Besson ; John Woo

query_specific_directors = """
SELECT * FROM directors WHERE name IN ('James Cameron', 'Luc Besson', 'John Woo')
"""
directors_specific = pd.read_sql(query_specific_directors, engine)
print(directors_specific)

            name    id  gender    uid department
0  James Cameron  4762       2   2710  Directing
1       John Woo  4893       2  11401  Directing
2     Luc Besson  4949       2     59  Directing

In [23]:
# 5) Find all directors with name starting with S.

query_directors_s = """
SELECT * FROM directors WHERE name LIKE %s
"""
# Use parameterized query to pass the value
directors_s = pd.read_sql(query_directors_s, engine, params=("S%",))

# Display the results
print(directors_s)

                 name    id  gender      uid department
0          Sam Mendes  4764       2       39  Directing
1           Sam Raimi  4767       2     7623  Directing
2         Shane Black  4784       2     1108  Directing
3    Steven Spielberg  4799       2      488  Directing
4     Stephen Sommers  4815       2     7775  Directing
..                ...   ...     ...      ...        ...
168       Sai Varadan  7048       0  1343876  Directing
169  Stephen Langford  7057       2    99240  Directing
170        Sut Jhally  7065       0  1184450  Directing
171     Shane Carruth  7106       2    76624  Directing
172       Scott Smith  7108       0  1219158  Directing

[173 rows x 5 columns]

In [19]:
print(f"Number of results: {len(movies_data)}")

Number of results: 47

In [11]:
# 6) Count female directors.

query_female_directors = "SELECT COUNT(*) FROM directors WHERE gender = 1"
female_directors_count = pd.read_sql(query_female_directors, engine)
print(female_directors_count)

   COUNT(*)
0       150

In [17]:
# 7) Find the name of the 10th first women directors? 


query_10th_female_directors = """
SELECT name FROM directors WHERE gender = 1 LIMIT 10 OFFSET 9
"""
# Execute the query without the params argument since gender is directly in the query
tenth_female_directors = pd.read_sql(query_10th_female_directors, engine)
print(tenth_female_directors)

                  name
0       Angelina Jolie
1         Karyn Kusama
2       Phyllida Lloyd
3      Angela Robinson
4        Beeban Kidron
5          Deepa Mehta
6       Penny Marshall
7         Julie Taymor
8        Susan Stroman
9  Catherine Hardwicke

In [29]:
# 8) What are the 3 most popular movies?

query_most_popular_movies = """
SELECT title FROM movies ORDER BY popularity DESC LIMIT 3
"""
most_popular_movies = pd.read_sql(query_most_popular_movies, engine)
print(most_popular_movies)

                        title
0              Jurassic World
1  Captain America: Civil War
2                      Avatar

In [31]:
# 9) What are the 3 most bankable movies?

query_most_bankable_movies = """
SELECT title FROM movies ORDER BY revenue DESC LIMIT 3
"""
most_bankable_movies = pd.read_sql(query_most_bankable_movies, engine)
print(most_bankable_movies)

          title
0        Avatar
1       Titanic
2  The Avengers

In [59]:
# 10) What is the most awarded average vote since the January 1st, 2000? 

query = """
SELECT title, vote_average, release_date
FROM movies
WHERE release_date >= '2000-01-01'
ORDER BY vote_average DESC
LIMIT 1;
"""
print("Highest Average Voted Movie Since January 1, 2000:")
most_awarded = pd.read_sql(query, engine)
print(most_awarded)

                   title  vote_average release_date
0  The Dark Knight Rises           7.6   2012-07-16

In [35]:
# 11) Which movie(s) were directed by Brenda Chapman?

query_brenna_chapman_movies = """
SELECT title FROM movies
JOIN directors ON movies.director_id = directors.id
WHERE directors.name = %s
"""
# Pass the director's name as the parameter
brenda_chapman_movies = pd.read_sql(query_brenna_chapman_movies, engine, params=("Brenda Chapman",))
print(brenda_chapman_movies)

Empty DataFrame
Columns: [title]
Index: []

In [11]:
# 12) Which director made the most movies?

most_movies_by_director = """
SELECT directors.name, COUNT(*) as movie_count
FROM movies
JOIN directors ON movies.director_id = directors.id
GROUP BY directors.name
ORDER BY movie_count DESC limit 3
"""
most_movies_by_director = pd.read_sql(most_movies_by_director, engine)
print(most_movies_by_director)

             name  movie_count
0  Gore Verbinski            3
1       Sam Raimi            3
2   Peter Jackson            3

In [39]:
# 13) Which director is the most bankable?

query_most_bankable_director = """
SELECT directors.name, SUM(movies.revenue) as total_revenue
FROM movies
JOIN directors ON movies.director_id = directors.id
GROUP BY directors.name
ORDER BY total_revenue DESC LIMIT 1
"""
most_bankable_director = pd.read_sql(query_most_bankable_director, engine)
print(most_bankable_director)

            name  total_revenue
0  James Cameron   4.632999e+09